body{
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}


.header{
    background-color: #1f2037;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;

}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
}

.hero button{
    border: none;
    
}


.hero{
    background-color: #1f2037;
    color: white;
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4%;
    flex: 1;
    gap: 10px;
}

.card{
    flex: 1;
}
.card-img{
    background-color: gray;
    width: 700px;
    height: 150px;
    align-self: center;
    flex: 1;
}
.awesome{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 20px;
  
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.random-info{
    flex: 1;
}
.random{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.random-title{
    text-align: center;
    font-weight: bolder
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoImg {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.quote-card{
    background-color: #E5E7EB;
    flex: 1;
}

.quote{
    font-size: 36px;
    font-style: italic;
    padding-left: 8%;
    padding-right: 8%;
}

.author{
    font-weight: 900;
    font-size: 26px;
    text-align: end;
    flex: 0 1 0;
    padding-right: 16%;
}

.callto{
    flex:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.callto button{
    border: 1px solid white;
    align-self: center;
    margin-right: 8%;
}

.callto-container{
    background-color: #3882F6;
    flex: 0.9;
    color: #E5E7EB;
    display: flex;
    border-radius: 4px;
}

.text-container{
    flex: 1;
    padding-left: 8%;
}

footer{
    background-color: #1f2037;
    color: white;
    display: flex;
    justify-content: center;
}